-- SQL para reparar la tabla bookshelf en Supabase

-- Renombrar columnas para coincidir con el código
ALTER TABLE bookshelf RENAME COLUMN titulo TO title;
ALTER TABLE bookshelf RENAME COLUMN autor TO author;

-- Asegurar que las columnas existan (si no existen, agregar)
ALTER TABLE bookshelf ADD COLUMN IF NOT EXISTS total_pages INTEGER DEFAULT 0;
ALTER TABLE bookshelf ADD COLUMN IF NOT EXISTS genre TEXT;
ALTER TABLE bookshelf ADD COLUMN IF NOT EXISTS cover_url TEXT;
ALTER TABLE bookshelf ADD COLUMN IF NOT EXISTS user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE;
ALTER TABLE bookshelf ADD COLUMN IF NOT EXISTS current_page INTEGER DEFAULT 0;
